.achivementsPage {
  padding-block: 1rem 8rem;
}

.achivementsList {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 1rem;
}

.achivementCardWrapper {
  background-color: white;
}

.achivementCard {
  padding-block: 1rem;
  display: flex;
  gap: 0.3rem;
  align-items: flex-start;
  font-size: 1.4rem;
}
.achivementCard svg {
  flex-shrink: 0;
  font-size: 2rem;
}
