.achivementsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.achivementCard {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  gap: 0.3rem;
  align-items: flex-start;
  font-size: 1.4rem;
}
.achivementCard svg {
  flex-shrink: 0;
  font-size: 2rem;
}
