.votesBarWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 30rem;
  gap: 0 0.8rem;
  flex-wrap: wrap;
}

.votesBarWrapper a {
  font-size: 1.3rem;
  display: flex;
  align-items: end;
  gap: 0.6rem;
  /* color: rgb(121, 121, 121); */
  font-weight: 500;
}

.votesBarWrapper span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 1.15rem; */
  flex-shrink: 0;
  font-weight: 700;
}

.votesBarWrapper svg {
  font-size: 1.7rem;
  margin-bottom: -0.5rem;
  flex-shrink: 0;
}

.projects span {
  color: hsl(6, 50%, 53%);
}
.skills span {
  color: hsl(241, 57%, 53%);
}

.recommends span {
  color: hsl(149, 80%, 20%);
}
