.inputWrapper {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  background-color: var(--color-input);
  padding: 0.45em 0.56em;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--color-inputBorder);
}

.inputWrapper input {
  padding: 0;
  border: none;
}

.inputWrapper svg {
  font-size: 2.5rem;
}

.inputWrapper:focus-within {
  border-color: var(--color-black);
}
