.homeContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.homeContainer button {
  background-color: hsl(228, 12%, 68%);
  color: hsl(220, 14%, 8%);
  padding: 1rem;
  border-radius: 0.6rem;
  flex: 1;
}
